
<span class="test122121">{{num_reviews}}</span>

<div class="get-review-count" style="display: none;">
    {{#each num_reviews}}
        {{#if rating '==' 5}}
            <span class="review5">{{rating}}</span>
        {{/if}}
        {{#if rating '==' 4}}
            <span class="review4">{{rating}}</span>
        {{/if}}
        {{#if rating '==' 3}}
            <span class="review3">{{rating}}</span>
        {{/if}}
        {{#if rating '==' 2}}
            <span class="review2">{{rating}}</span>
        {{/if}}
        {{#if rating '==' 1}}
            <span class="review1">{{rating}}</span>
        {{/if}}
    {{/each}}

    {{#for 1 num_reviews}}
        {{#if this.rating '>=' $index}}
            <span class="icon icon--ratingFull">
                <svg>
                    <use href="#icon-star" />
                </svg>
            </span>
        {{else}}
            <span class="icon icon--ratingEmpty">
                <svg>
                    <use href="#icon-star" />
                </svg>
            </span>
        {{/if}}
    {{/for}}
</div>