{{#if banners.bottom}}
    <div class="banners" data-banner-location="bottom">
        {{#each (limit banners.bottom_metadata 1)}}
            <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                <div data-event-type="promotion-click">
                    {{{this.content}}}
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}
<footer class="footer" role="contentinfo">
    <h2 class="footer-title-sr-only">{{lang 'footer.title'}}</h2>
    <div class="container">
        {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
            <article class="footer-info-col
                footer-info-col--social
                footer-info-col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
                data-section-type="footer-webPages">
                    <h3 class="footer-info-heading">{{lang 'social.connect'}}</h3>
                    {{> components/common/social-links}}
            </article>
        {{/if}}
        <section class="footer-info footerMobile">
            <!-- Column 1 -->
            <article class="footer-info-col footer-info-col--1 custom-animation footer-dropdownmobile" data-step-animate="1" data-section-type="footer-categories">
                <h3 class="footer-info-heading">
                    <span>{{lang 'footer.categories'}}</span>
                    <svg class="icon-dropdown" aria-label="Show/Hide Shop Dropdown"><use xlink:href="#icon-chevron-down"></use></svg>
                </h3>
                <ul class="footer-info-list">
                    {{#each categories}}
                        <li>
                            <a class="hover-link hover-link--footer" href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </article>

            <!-- Colum 2 -->
            <article class="footer-info-col footer-info-col--2 custom-animation footer-dropdownmobile" data-step-animate="2" data-section-type="footer-webPages">
                <h3 class="footer-info-heading">
                    <span>{{lang 'footer.navigate'}}</span>
                    <svg class="icon-dropdown" aria-label="Show/Hide Shop Dropdown"><use xlink:href="#icon-chevron-down"></use></svg>
                </h3>
                <ul class="footer-info-list">
                    {{#each pages}}
                        {{#if (toLowerCase name) '==' 'return policy'}}
                        {{else if (toLowerCase name) '==' 'privacy policy'}}
                        {{else if (toLowerCase name) '==' 'terms and conditions'}}
                        {{else}}
                            <li>
                                <a class="hover-link hover-link--footer" href="{{url}}">{{name}}</a>
                            </li>
                        {{/if}}
                    {{/each}}
                    <li>
                        <a class="hover-link hover-link--footer" href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                    </li>
                </ul>
            </article>

             <!-- Colum 3 -->
             <article class="footer-info-col footer-info-col--3 custom-animation footer-dropdownmobile" data-step-animate="3" data-section-type="footer-webPages">
                <h3 class="footer-info-heading">
                    <span>{{lang 'footer.info'}}</span>
                    <svg class="icon-dropdown" aria-label="Show/Hide Shop Dropdown"><use xlink:href="#icon-chevron-down"></use></svg>
                </h3>
                <ul class="footer-info-list">
                    <li><a class="hover-link hover-link--footer" href="/return-policy/">Return Policy</a></li>
                    <li><a class="hover-link hover-link--footer" href="/privacy-policy/">Privacy Policy</a></li>
                    <li><a class="hover-link hover-link--footer" href="/terms-and-conditions/">Terms and Conditions</a></li>
                    {{#if settings.phone_number}}
                        <li class="footer-item-phone">
                            <a class="hover-link hover-link--footer" href="tel:+{{settings.phone_number}}">
                                <span class="icon icon--phone">
                                    <svg><use xlink:href="#icon-phone"></use></svg>
                                </span>
                                {{settings.phone_number}}
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--subscription custom-animation" data-step-animate="4" data-section-type="newsletterSubscription">
                {{#if settings.show_newsletter_box}}
                    {{> components/common/subscription-form}}
                {{/if}}
                {{#if theme_settings.show_social-links}}
                    <div class="footer-info-col--social">
                        <p class="footer-social-title">Follow us on:</p>
                        {{> components/common/social-links}}
                    </div>
                {{/if}}

                <!-- Footer Logo Image -->
                {{#if theme_settings.footer_logo_image}}
                    <div class="footer-logo">
                        <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/{{theme_settings.footer_logo_size}}/image-manager/{{theme_settings.footer_logo_image}}" alt="{{theme_settings.footer_logo_image}}">
                    </div>
                {{/if}}
            </article>
        </section>
        {{#if theme_settings.show_copyright_footer}}
            <div class="footer-copyright">
                <p class="powered-by">Copyright &copy; {{moment format="YYYY"}}. All Right Reserved</p>
            </div>
        {{/if}}
    </div>
    {{{region name="ssl_site_seal--global"}}}
</footer>

{{#if theme_settings.themevale_BackTop}}
    <div id="back-to-top">
        <a href="#">Back to top<svg class="icon" aria-hidden="true"><use xlink:href="#icon-back-to-top"></use></svg></a>
    </div>
{{/if}}