<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<header class="header halo-fadeInLoad" data-halo-animate="0" role="banner">
    <!-- Header Top -->
    <div class="header__top">
        <div class="container">
            <div class="header-top__list flex">
                <div class="header-top__item">
                    <a href="{{theme_settings.header_top_left_link}}" class="no-underline hover-link hover-link--headerTop">
                        {{theme_settings.header_top_left_text}}
                    </a>
                </div>
                <div class="header-top__item text-center text-right-tablet">
                    <a href="{{theme_settings.header_top_center_link}}" class="no-underline hover-link hover-link--headerTop">
                        {{theme_settings.header_top_center_text}}
                    </a>
                </div>
                <div class="header-top__item text-right hide-on-tablet">
                    <a href="tel:+{{settings.phone_number}}" class="no-underline hover-link hover-link--headerTop">
                        <span class="icon icon--phone">
                            <svg><use xlink:href="#icon-phone"></use></svg>
                        </span>
                        {{settings.phone_number}}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="header__middle">
        <div class="container static">
            <div class="middleHeader-item text-left">
                <div class="items item--hamburger">
                    <a class="mobileMenu-toggle" href="#" data-mobile-menu-toggle="menu">
                        <span class="mobileMenu-toggleIcon">{{lang 'header.toggle_menu'}}</span>
                    </a>
                </div>
                <div class="items item--searchMobile">
                    <a class="navUser-action" href="#" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false" aria-label="{{lang 'search.quick_search.button_search'}}">
                        <div class="navUser-icon">
                            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-header-search"></use></svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="middleHeader-item text-center">
                <div class="items item--logo">
                    {{#if page_type '===' 'default'}}
                        <h1 class="header-logo">
                            {{> components/common/store-logo}}
                        </h1>
                    {{else}}
                        <div class="header-logo">
                            {{> components/common/store-logo}}
                        </div>
                    {{/if}}
                </div>
            </div>
            <div class="middleHeader-item text-right">
                <div class="items item--quicksearch halo-search" data-step-animate="2">
                    <div id="quickSearch" data-prevent-quick-search-close>
                        {{> components/common/quick-search}}
                    </div>
                </div>
                {{#if theme_settings.header_contact_text}}
                    <div class="items item--contact hide-on-tablet">
                        <a class="navUser-action flex-center-y hover-link" href="{{theme_settings.header_contact_link}}" aria-label="{{theme_settings.header_contact_text}}">
                            <span class="navUser-icon flex-center-inline">
                                <svg class="icon" aria-hidden="true"><use xlink:href="#icon-contact"></use></svg>
                            </span>
                            {{theme_settings.header_contact_text}}
                        </a>
                    </div>
                {{/if}}

                <div class="items item--account">
                    {{#if customer}}
                        <a class="navUser-action flex-center-y hover-link" href="{{urls.account.index}}" aria-label="{{customer.name}}" data-login-form>
                            <span class="navUser-icon flex-center-inline">
                                <svg class="icon" aria-hidden="true"><use xlink:href="#icon-information"></use></svg>
                            </span>
                            {{customer.name}}
                        </a>

                        {{> components/custom/halo-account-popup data="account-pc"}}
                    {{else}}
                        <a class="navUser-action flex-center-y hover-link hide-on-tablet" href="{{urls.auth.login}}" aria-label="{{lang 'account.title'}}" data-login-form>
                            <span class="navUser-icon flex-center-inline">
                                <svg class="icon" aria-hidden="true"><use xlink:href="#icon-information"></use></svg>
                            </span>
                            {{lang 'account.title'}}
                        </a>

                        {{> components/custom/halo-login-popup data="login-pc" email_id="login_email" password_id="login_pass"}}
                    {{/if}}

                    <!-- Mobile -->
                    <a class="navUser-action myAccountMobile hide-on-desktop" {{#if customer}}href="{{urls.account.index}}"{{else}}href="{{urls.auth.login}}"{{/if}} data-login-form-mobile aria-label="{{lang 'account.title'}}">
                        <span class="navUser-icon flex-center-inline">
                            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-information"></use></svg>
                        </span>
                    </a>
                </div>

                <div class="items item--cart halo-cart flex-center-inline">
                    <a class="navUser-action cartDesktop flex-center-y hover-link"
                        data-cart-preview
                        data-options="align:right"
                        href="{{urls.cart}}"
                        aria-label="{{lang 'cart.nav_aria_label'}}">
                        <span class="navUser-icon navUser-item-cartIcon flex-center-inline">
                            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-cart-header"></use></svg>
                        </span>
                        {{lang 'common.cart'}}
                    </a>
                    <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity hide-on-tablet">{{cart.quantity}}</span>
                    <div class="dropdown-cart" id="cart-preview-dropdown" aria-hidden="true"></div>
                    <a class="navUser-action cartMobile" data-cart-preview2 href="/cart.php" aria-label="{{lang 'cart.nav_aria_label'}}">
                        <span class="navUser-icon navUser-item-cartIcon">
                            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-cart-header"></use></svg>
                            <span class="countPill cart-quantity">{{#if cart.items}}{{cart.quantity}}{{else}}0{{/if}}</span>
                        </span>
                        {{lang 'common.cart'}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="halo-bottomHeader">
        <div class="navPages-container" id="menu" data-menu>
            {{> components/common/navigation-menu}}
        </div>
    </div>
    {{{region name="header_navigation_bottom--global"}}}
</header>
{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}
