<div class="navPage-subMenu navPage-subMenu-horizontal" id="navPages-{{id}}" aria-hidden="true" tabindex="-1">
    <ul class="navPage-subMenu-list">
        <li class="navPage-subMenu-item-child navPage-subMenu-title">
            <p class="navPage-subMenu-action navPages-action">
                <span class="navPages-action-moreIcon" aria-hidden="true">
                    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-chevron-down" /></svg>
                    <span>back</span>
                </span>
                <a class="text" href="{{url}}">{{name}}</a>
            </p>
        </li>
        <li class="navPage-subMenu-item-parent">
            <a class="navPage-subMenu-action navPages-action navPages-action-depth-max" href="{{url}}">{{lang 'category.view_all.name' category=name}}</a>
        </li>
        {{#each children}}
            <li class="navPage-subMenu-item-child">
                {{#if children}}
                    <a class="navPage-subMenu-action navPages-action navPages-action-depth-max has-subMenu{{#if is_active}} activePage{{/if}}" href="{{url}}" data-collapsible="navPages-{{id}}">
                        <span class="hover-link hover-link--subMenu">{{name}}</span>
                        <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use href="#icon-chevron-down" /></svg></i>
                    </a>
                    {{> components/common/navigation-dropdown}}
                {{else}}
                    <a class="navPage-subMenu-action navPages-action{{#if is_active}} activePage{{/if}}" href="{{url}}">
                        <span class="hover-link hover-link--subMenu">{{name}}</span>
                    </a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
