// =============================================================================
// SEARCH
// =============================================================================

.search-suggestion {
    margin-bottom: spacing("single") + spacing("third");

    > :last-child {
        margin-bottom: 0;
    }
}

.suggestion-title {
    margin-top: 0;
    text-transform: inherit;
}

.advancedSearch-form {
    margin-bottom: spacing("double");

    .form-row {
        margin-bottom: -(spacing("single"));
    }
}

.haloQuickSearchResults {
    margin: 0 auto;
    background-color: $dropdown--quickSearch-backgroundColor;
    position: relative;
    padding: 50px 25px 25px;
    width: 100%;
    z-index: 11;

    .quickSearchMessage {
        display: block;
        font-size: $fontSize-root;
        font-weight: $fontWeight-normal;
        letter-spacing: $letterSpacing-base;
        line-height: 1.75;
        color: $color-textSecondary;
        margin: 0;
        text-align: center;
        padding: 10px 15px;
    }

    &.is-open {
        display: block;
        -webkit-animation: fadeIn 0.36s;
        animation: fadeIn .3s;
        opacity: 1;
        visibility: visible;

        .quickResults-wrapper {
            opacity: 1;
        }
    }

    @media (min-width: 1025px) {
        position: absolute;
        top: 100%;
        right: 0px;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: calc(100vh - 150px);
        -webkit-animation: fadeOut .3s;
        animation: fadeOut .3s;
        -webkit-animation-timing-function: cubic-bezier(.4, 0, .6, 1);
        animation-timing-function: cubic-bezier(.4, 0, .6, 1);
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease;

        .productGrid {
            .product {
                width: 20%;
            }
        }
    }
}

.quickResults-close {
    line-height: 1;
    padding: 0;
    position: absolute;
    text-align: center;
    z-index: zIndex("high");
    top: 15px;
    right: 30px;
    font-size: 0;
    color: $color-textBase;
    display: none;

    span {
        &:not(.aria-description--hidden) {
            display: block;
            width: 20px;
            height: 20px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 612 612' id='icon-close' style='&%2310; fill: %23323232;&%2310;'%3E%3Cpolygon points='612,36.004 576.521,0.603 306,270.608 35.478,0.603 0,36.004 270.522,306.011 0,575.997 35.478,611.397 306,341.411 576.521,611.397 612,575.997 341.459,306.011 '/%3E%3C/svg%3E");
            background-repeat: no-repeat;
        }
    }

    @media(min-width: 1025px) {
        display: block;
        transform: rotate(0);
        transition: opacity .1s ease, transform .3s ease;

        &:hover {
            transform: rotate(90deg);
        }
    }
}

.advancedSearch-separator {
    display: none;
}

.advancedSearch-title {
    margin: 0 0 spacing("single");
    text-transform: inherit;
}

.search-price-range {
    label {
        display: inline;

        input {
            display: block;
            padding-left: spacing("single");

            @include breakpoint("small") {
                display: inline;
                width: 6rem;
            }
        }

        span {
            @include breakpoint("small") {
                display: inline;
                padding-left: spacing("single");
                padding-right: spacing("single");
            }
        }
    }
}

.category-suggestion-list {
    @include grid-row($behavior: "nest");
    list-style-type: none;
}

.category-suggestion {
    @include grid-column(4);
    font-size: fontSize("smaller");
}

.search-refine {
    margin-left: spacing("single");
}

.quickSearchMessage {
    font-size: fontSize("largest");
    margin: spacing("single") 0 0;
    text-align: center;
}

.search-nav {
    position: relative;
}
