---
brand:
    products:
        limit: {{theme_settings.brandpage_products_per_page}}
---
{{inject "brandProductsPerPage" theme_settings.brandpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.brand.previous}}
        <link rel="prev" href="{{pagination.brand.previous}}">
    {{/if}}
    {{#if pagination.brand.next}}
        <link rel="next" href="{{pagination.brand.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if brand.image}}
    <div class="brand-image-container">
        {{> components/common/responsive-img
            image=brand.image
            fallback_size=theme_settings.thumb_size
            lazyload='disabled'
        }}
    </div>
{{/if}}
<h1 class="page-heading">{{brand.name}}</h1>
{{{region name="brand_below_header"}}}
<div class="page">
    {{#if theme_settings.halo-brand-sidebar}}
        <aside class="page-sidebar" id="faceted-search-container">
            <div class="page-sidebar-close">
                <a href="#" class="close">
                    <span class="icon icon--close">
                        <svg><use xlink:href="#icon-close"></use></svg>
                    </span>
                </a>
            </div>
            {{> components/brand/sidebar}}
        </aside>
    {{/if}}

    <div class="page-content" id="product-listing-container">
        {{#if brand.search_error }}
            <p>{{lang 'search.errorMessage'}}</p>
        {{else}}
            {{#if theme_settings.halo-brand-sidebar}}
                <div class="page-sidebar-mobile-wrapper hide-on-desktop">
                    <div class="page-sidebar-mobile">
                        <span class="text">{{lang 'common.sidebar'}}</span>
                        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-sidebar"></use></svg>
                    </div>
                </div>
            {{/if}}
            {{#if brand.products}}
                {{> components/brand/product-listing}}
            {{else}}
                <p>{{lang 'brands.no_products'}}</p>
            {{/if}}
            {{{region name="brand_below_content"}}}
        {{/if}}
    </div>
</div>

{{/partial}}
{{> layout/base}}
