// =============================================================================
// HEADER (CSS)
//
// 1. Setting font size of header-logo to 0, since wrapper element may vary, and
//    inline-block whitespace messes with header height. Font-size is reset to
//    appropriate size on header-logo-text.
// 2. Needs left/right margin so it doesn't cover left/right nav bar toggles
// 3. Offset the letter-spacing on the last character by adding a right negative
//    margin. This centers the text logo properly.
// 4. When the word "cart" is added to the mobile header's cart link, add more
//    margin to compensate.
// 5. When logo size is set to "original", we don't have advance knowledge of the
//    image size, so we can't use absolute positioning + padding to reserve space
//    for lazy loading.
// 6. When logo size is set to "original" and switch to mobile version, it keeps
//    content in center regardless its size.
//
// -----------------------------------------------------------------------------

.skip-to-main-link {
    background: $header-bg;
    color: $color-textBase;
    font-weight: 700;
    left: 50%;
    padding: 4px;
    position: absolute;
    transform: translate(-50%, calc(-100% - #{$header-height}));
    transition: transform 0.3s;
    z-index: zIndex("highest");

    &:focus {
        transform: translate(-50%, 0%);
    }
}

.header {
    background-color: $header-bg;
    border-bottom: container("border");
    height: fit-content;
    position: relative;
    top: 0;
    width: 100%;
    z-index: zIndex("higher");

    @include breakpoint("medium") {
        border-bottom: container("border");
        display: flex;
        flex-direction: column;
        height: auto;
        overflow: visible;
        position: relative;
    }
}

.header-logo {
    font-size: 0;   // 1
    height: $header-height;
    margin: 0; // 2
    text-align: center;

    @include breakpoint("small") { // 4
        margin-left: remCalc($header-toggle-width * 1.5);
        margin-right: remCalc($header-toggle-width * 1.5);
    }

    @include breakpoint("medium") {
        height: auto;
        margin: 0;
        padding: 0;

        .header.fixed & {
            background-color: color("greys", "lightest");
            margin: 0;
            padding: spacing("quarter") 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    &__link {
        @include clearfix;
        align-items: center;
        color: $storeName-color;
        display: flex;
        height: inherit;
        justify-content: center; // 6
        margin: 0 auto;
        position: relative;
        text-decoration: none;
        width: 90%;
        z-index: zIndex("low");

        @include breakpoint("medium") {
            background: none;
            border-bottom: 0;
            display: inline-flex;
            padding: 0;
            width: auto;
        }

        &:hover {
            color: color("link", "hover");
        }

        &:active {
            color: color("link", "active");
        }
    }
}

.header-logo--left {
    text-align: left;

    @include breakpoint("medium") {
        margin-left: remCalc(40px);
    }

    .header-logo-image {
        right: unset;
    }
}

.header-logo--right {
    text-align: right;

    @include breakpoint("medium") {
        margin-right: remCalc(40px);
    }

    .header-logo-image {
        left: unset;
    }
}

.header-logo-text {
    display: block;
    font-family: $fontFamily-hero;
    font-size: $fontSize-logo-small;   // 1
    font-weight: stencilFontWeight("headings-font");
    letter-spacing: remCalc(2px);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

    @include breakpoint("small") {
        font-size: $fontSize-logo-medium;
    }

    @include breakpoint("medium") {
        display: inline;
        font-size: $fontSize-logo-large;
        max-width: none;
        overflow: auto;
        padding: 0 10px;
        white-space: normal;

        .header.fixed & {
            font-size: fontSize("larger");
        }
    }
}

.header-logo-image-container {
    position: relative;
    width: 100%;
}

.header-logo-image-container::after {
    content: "";
    display: block;
}

.header-logo-image {
    display: block;
    margin: 0 auto;
    max-height: 40px;

    @include breakpoint("medium") {
        max-height: none;
    }
}

.header-logo-image-unknown-size { // 5
    max-height: remCalc($header-height) - $header-logo-marginVertical * 2;

    @include breakpoint("medium") {
        max-height: none;
    }
}

//
// Mobile Menu Toggle
//
// 1. Animate lines from 'x' to hamburger
// -----------------------------------------------------------------------------

.mobileMenu-toggle {
    width: 25px;
    height: 25px;
    display: inline-block;
    font-size: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    z-index: zIndex("high");

    @include breakpoint("medium") {
        display: none;
    }

    .mobileMenu-toggleIcon,
    .mobileMenu-toggleIcon::before,
    .mobileMenu-toggleIcon::after {
        background: $header-font-color;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        transform: rotate(0deg);
        transition: transform 100ms ease-in, top 100ms ease-in 150ms, bottom 100ms ease-in 150ms; // 1
        width: 100%;
    }

    .mobileMenu-toggleIcon {
        top: 50%;
        transition: background-color 10ms ease-in 100ms;
    }

    .mobileMenu-toggleIcon::before {
        top: -8px;
    }

    .mobileMenu-toggleIcon::after {
        bottom: -8px;
    }

    &.is-open .mobileMenu-toggleIcon {
        background-color: transparent;
        transition-delay: 100ms;

        &::before,
        &::after {
            background-color: $header-font-color;
            bottom: auto;
            top: auto;
            transition: transform 100ms ease-in 150ms, top 100ms ease-in, bottom 100ms ease-in; // Animate lines from hamburger to 'x'
        }

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(-45deg);
        }

    }
}


/* Custom Start */
.header__top {
    background-color: stencilColor("header_top_background");

    .header-top__list {
        padding-top: 20px;
        padding-bottom: 18px;

        @media (max-width: 1024px) {
            justify-content: space-between;
            padding: 0 8px;
        }
        .header-top__item {
            color: stencilColor("header_top_text_color");
            text-transform: uppercase;
            font-weight: 700;
            line-height: 20px;
            width: 33.333%;
            flex: 0 0 33.333%;

            @media (max-width: 1024px) {
                width: 50%;
                flex: 0 0 50%;
            }

            a {
                text-transform: uppercase;  
                line-height: 20px;
                font-weight: 700;
                text-align: center;

                @media (max-width: 1024px) {
                    font-size: 14px;
                    text-align: left;
                }

                @media (max-width: 551px) {
                    font-size: 12px;
                }

                .icon  {
                    svg {
                        fill: stencilColor("header_top_text_color");
                    }
                }

                &:hover {
                    .icon  {
                        svg {
                            fill: stencilColor("header_top_text_colorHover");
                        }
                    }
                }
            }
        }
    }
}

.header__middle {
    z-index: 11;
    padding: 10px 0;
    position: relative;
    background-color: #ffffff;

    > .container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        >.middleHeader-item {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;

            >.items {
                display: block;
                width: 100%;
                
                @media (max-width: 1024px) {
                    line-height: normal;
                }

                &:not(.item--logo) {
                    width: auto;
                }

                &.item--quicksearch {
                    display: none;
                }

                +.items:not(.item--logo) {
                    margin-left: 15px;
                }

                &.halo-cart {
                    position: relative;
                }

                &.item--searchMobile {
                    @media (max-width: 1024px) {
                        .icon {
                            fill: #000000;
                        }
                    }
                }
                &.item--hamburger {
                    @media (max-width: 1024px) {
                        position: relative;
                        width: 25px;
                        height: 25px;
                    }
                }

                > .navUser-action {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            &.text-center {
                flex: 1;

                @media (max-width: 550px) {
                    padding-left: 15px;
                }

                @media (min-width: 551px) and (max-width: 1024px) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }

            &.text-right {
                @media (max-width: 1024px) {
                    > .items {
                        .navUser-action {
                            font-size: 0;
                        }
                    }
                }
            }
        }
    }

    .navUser-action {
        padding: 0;

        .navUser-icon {
            display: inline-block;
            vertical-align: top;
            position: relative;

            svg {
                width: 25px;
                height: 25px;
                fill: transparent;
                margin: 0;
            }

            &.navUser-item-cartIcon {
                @media (max-width: 1024px) {
                    margin-right: 9px;
                }
            }
        }

        &.cartDesktop {
            display: none;
        }

        &.cartMobile {
            display: block;
        }
    }

    .myAccount {
        display: none;
        color: stencilColor('header-text-color');
        font-size: $fontSize-root - 2px;
        font-weight: $fontWeight-bold;
        line-height: 22px;
        margin-bottom: 0;
    }

    .myAccount-link {
        display: none;
        color: stencilColor('header-text-color');
        font-size: $fontSize-root - 2px;
        font-weight: $fontWeight-normal;
        line-height: 22px;

        a {
            display: inline;
            color: stencilColor('header-text-color');
            transition: unset;
        }
    }

    @media (min-width: 768px) {
        .container {
            >.middleHeader-item {
                >.items {
                    +.items:not(.item--logo) {
                        margin-left: 50px;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        .container {
            >.middleHeader-item {
                >.items {
                    &.item--account {
                        margin-left: 0 !important;
                    }
                }
            }
        }
    }

    @media (min-width: 1025px) {
        padding: 12px 0;

        .container {
            >.middleHeader-item {
                >.items {
                    text-align: left;

                    &.item--quicksearch {
                        display: block;
                        flex-grow: 1;

                        +.items {
                            margin-left: 43px !important;
                        }

                        #quickSearch {
                            max-width: 100%;

                            > .container {
                                padding: 0;
                            }

                            .form {
                                position: relative;
                                border-radius: 4px;
                                margin-bottom: 0;
                                
                                .form-field {
                                    margin-bottom: 0;

                                    .icon--header-search {
                                        display: inline-block;
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        left: 20px;

                                        svg {
                                            width: 24px;
                                            height: 24px;
                                        }
                                    }

                                    .form-input {
                                        background: #F3F3F3;
                                        color: #909090;
                                        font-size: 14px;
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: 20px;
                                        text-transform: capitalize;
                                        border: none;
                                        padding-top: 18px;
                                        padding-bottom: 18px;
                                        padding-left: 54px;
                                        height: 60px;


                                        &::placeholder {
                                            color: #909090;
                                            font-size: 14px;
                                            font-weight: 500;
                                            line-height: 20px;
                                            text-transform: capitalize;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.item--wishlist {
                        display: block;
                    }

                    +.items:not(.item--logo) {
                        margin-left: 27px;
                    }

                    &.item--account {
                        position: relative;
                    }
                }

                &.text-left {
                    display: none;
                }

                &.text-center {
                    padding-right: 30px;
                    width: 280px;
                    flex: unset;
                }

                &.text-right {
                    width: calc(100% - 280px);
                }
            }
        }

        .navUser-action {
            &::before {
                bottom: -6px;
            }
            
            .navUser-icon {
                width: 40px;
                height: 40px;
                background-color: #F3F3F3;
                border-radius: 50%;
                margin-right: 8px;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }

            &:hover {
                .navUser-icon {
                    background-color: #ed1c24;
                }

                svg {
                    fill: #ffffff;
                }
            }

            &.cartDesktop {
                display: flex;
            }

            &.cartMobile {
                display: none;
            }

            &.myAccountMobile {
                display: none;
            }
        }

        .myAccount {
            display: block;
        }

        .myAccount-link {
            display: block;

            a {
                &:hover {
                    color: $color-textLink-hover;
                    background-image: linear-gradient(transparent 97%, $color-textLink-hover 3%);
                    background-repeat: repeat-x;
                    background-position-y: 0;
                }

                .home-layout-2 & {
                    &:hover {
                        color: $color-white;
                        background-image: linear-gradient(transparent 97%, $color-white 3%);
                    }
                }
            }
        }
    }

    @media (min-width: 1600px) {
        .container {
            >.middleHeader-item {
                &.item--quicksearch {
                    #quickSearch {
                        max-width: 410px;
                    }
                }

                &.text-center {
                    padding-right: 196px;
                    width: 440px;
                }
                
                &.text-right {
                    width: calc(100% - 440px);
                }
            }
        }
    }
}