<div class="sidebarBlock" id="advertisement-image-1">
	<div class="advertisement-image">
		<a class="image" href="#">
			<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/tech-support-210-160.png" alt="Tech Support Services">
		</a>
	</div>
</div>
<div class="sidebarBlock" id="advertisement-image-2">
	<div class="advertisement-image">
		<a class="image" href="#">
			<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/hanwha-wisenet.png" alt="Hanwha Wisenet">
		</a>
	</div>
</div> 

