<div class="halo-sidebar halo-search-mobile halo-sidebar-left" id="halo-search-mobile">
    <a href="#" class="halo-sidebar-close" aria-label="Close Search Sidebar">
        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-close"></use></svg>
    </a>
    <div class="halo-sidebar-wrapper"></div>
</div>

<div class="halo-sidebar halo-cart-sidebar halo-sidebar-right" id="halo-cart-sidebar">
    <a href="#" class="halo-sidebar-close" aria-label="Close Cart Sidebar">
        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-close"></use></svg>
    </a>
    <div class="halo-sidebar-wrapper"></div>
</div>