// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Product view layout
// -----------------------------------------------------------------------------

.productView {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include breakpoint("medium") {
        display: block;
    }

    .modal & {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.productView--quickView {
    .socialLinks-item--print {
        display: none;
    }
}

.productView-images {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        width: grid-calc(6, $total-columns);
    }
}

.productView-details {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        clear: right;
        float: right;
        width: grid-calc(6, $total-columns);
    }

    .productView--quickView & {
        position: relative;
    }

    &.product-data {
        order: -1;
    }
}

.productView-description {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");
    position: relative;
    z-index: 1;

    .productView-title {
        border-bottom: container("border");
        margin-bottom: spacing("base");
        padding-left: spacing("base");
        padding-right: spacing("base");
    }

    .productView-description {
        @include breakpoint("medium") {
            clear: both;
            float: none;
            width: 100%;
        }
    }
}

.productView-description {
    margin-top: 60px;
    border-radius: 20px;
    border: 1px solid #909090;
    background: #FFF;
    box-shadow: 0px 7px 80px 0px rgba(0, 0, 0, 0.06);
    padding: 25px 43px 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .tabs {
        text-align: center;
        border-bottom: none;
        font-size: 0;
        display: inline-flex;
        align-items: center;
        border-radius: 4px;
        background: #F6F6F6;
        padding: 10px;

        .tab {
            float: none;
            width: auto;
            border: none;
            display: inline-block;
            position: relative;
            background-color: #ffffff;
            border-radius: 4px;

            & + .tab {
                margin-left: 10px;
            }

            .tab-title {
                color: #000000;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                text-transform: uppercase;
                padding: 0;
                height: 60px;
                min-width: 270px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &.is-active {
                background-color: #000000;
                .tab-title {
                    color: #ffffff;
                }
            }
        }
    }

    .tabs-contents {
        padding-top: 30px;
        width: 100%;

        .tab-content {
            &:not(#tab-description, #tab-reviews) {
                max-width: 1170px;
                margin-left: auto;
                margin-right: auto;
            }
            padding-top: 0;

            p {
                line-height: 26px;
            }
        }
    }

    .tab-titleMobile {
        display: none;
        color: stencilColor('color-textHeading');
        font-size: stencilNumber("fontSize-root") + 2;
        font-weight: fontWeight("bold");
        border-bottom: 1px solid #CCCCCC;
        padding: 15px 0;
        position: relative;
        text-decoration: none;

        &:before {
            top: 50%;
            right: 5px;
            z-index: 2;
            content: "";
            width: 2px;
            height: 12px;
            position: absolute;
            transition: all .4s ease;
            transform: translateY(-50%);
            background-color: stencilColor('color-textHeading');
        }

        &:after {
            top: 50%;
            right: 0;
            z-index: 2;
            content: "";
            width: 12px;
            height: 2px;
            position: absolute;
            transform: translateY(-50%);
            background-color: stencilColor('color-textHeading');
        }

        &.is-active:before {
            transform: translateY(-50%) rotate(90deg);
        }
    }

    @media(max-width: 1199px) {
        .tabs .tab .tab-title {
            font-size: 20px;
            padding: 0 25px;
        }
    }

    @media(max-width: 767px) {
        padding-top: 30px;
        margin-bottom: 50px;

        .tabs {
            display: none;
        }

        .tab-titleMobile {
            display: block;
        }

        .tabs-contents {
            padding-top: 0;

            .tab-content {
                display: block;
                padding: 0;

                .tabContent {
                    display: none;
                    padding: 30px 0;
                }
            }
        }
    }
}