/* Home Brand List */
.section-custom-brands {
    position: relative;
    @include min-tablet {
        top: -75px;
    }

    .brandSlider {
        padding-top: 43px;
        padding-bottom: 42px;
        border-radius: 8px;
        background-color: #ffffff;
        box-shadow: 0px 120px 80px 0px rgba(0, 0, 0, 0.06);

        a {
            display: inline-block;
            vertical-align: top;
            img {
                margin-left: auto;
                margin-right: auto;
                width: auto;
                height: auto;
                max-height: 55px;
            }
        }
        &.slick-slider {
            margin-left: -8px;
            margin-right: -8px;
            .slick-slide {
                padding: 0 8px;
            }
            @media (min-width: 1025px) {
                margin-left: -15px;
                margin-right: -15px;
                .slick-slide {
                    padding: 0 15px;
                    > div + div {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    
    .brandSlider:not(.slick-slider) {
        overflow: hidden;
        white-space: nowrap;
        a {
            display: inline-block;
            vertical-align: top;
            width: 20%;
        }
    }
}

/* Home Section Categories */
.section-homeCategories {
    .homeCategories__title {
        color: #000000;
        font-size: 46px;
        font-style: normal;
        font-weight: 500;
        line-height: 70px;
        letter-spacing: -0.92px;
        margin-top: 42px;
        margin-bottom: 60px;

        @include smax-xl {
            line-height: 1.2;
            margin-bottom: 32px;
        }

        @include max-mobile {
            font-size: 28px;
        }
    }

    .homeCategories__slider {

        @include smax-xl {
            flex-wrap: wrap;
            justify-content: center;
        }

        .homeCategories__item{
            @include max-tablet {
                padding: 20px;
            }

            a {
                display: inline-flex;
                flex-direction: column;
                position: relative;
                text-align: center;
                align-items: center;
                text-decoration: none;
                color: #262626;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: -0.4px;

                @include max-tablet {
                    font-size: 16px;
                }

                .homeCategories__icon {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    margin-bottom: 8px;
                    background-color: #F6F6F6;
                    width: 122px;
                    height: 122px;
                    border-radius: 50%;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        display: block;
                        background-color: #7f7f7f;
                        transform: translate(-50%, -50%) scale(0);
                        transition: 0.3s transform ease;
                        opacity: 0.1;
                        border-radius: 50%;
                        width: 150px;
                        height: 150px;
                    }
                }
            }

            &:hover{
                a {
                    .homeCategories__icon{
                        background-color: transparent;

                        &:before {
                            transform: translate(-50%, -50%) scale(1);
                        }
                    }
                }
            }
        }
    }
}

/* Home Solution Banners */
.homeSolution {
    &__title {
        color: #000000;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px; 
        margin-bottom: 50px;
        margin-top: 15px;

        @include max-tablet {
            font-size: 28px;
            line-height: 1.2;
        }
    }

    &__item {
        position: relative;
        margin-bottom: 30px;

        > img {
            border-radius: 10px;
        }
    }

    &__action {
        text-decoration: none;
        color: #000;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        text-transform: uppercase;
        background-color: #ffffff;
        border-radius: 4px;
        display: block;
        width: calc(100% - 60px);
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px 40px;

        @include max-tablet {
            font-size: 16px;
            padding: 15px 30px;
        }
    }
}

/* Section Banner Text */
.section-banner-text {
    .bannerText {
        position: relative;
        &__image {
            img  {
                width: 100%;
                height: 100%;
                object-fit: cover;
                min-height: 520px;
                @include max-tablet {
                    min-height: auto;
                }
            }
        }

        &__content {
            position: absolute;
            top: 50%;
            left: 75px;
            transform: translateY(-50%);
            padding: 60px;
            background-color: #ffffff;
            border-radius: 14px;
            max-width: 740px;
            width: 100%;

            &.right {
                right: 75px;
                left: unset;

                .content__text {
                    max-width: 520px;
                }

                .content__title {
                    max-width: 100%;   
                }
            }

            @include smax-xl {
                margin: 0 auto;
                padding: 30px;
                max-width: 50%;
            }

            @include max-tablet {
                padding: 20px 0;
                position: unset;
                transform: unset;
                display:flex;
                align-items:center;
                justify-content:center;
                flex-direction:column;
                max-width: calc(100% - 60px);
            }

            @include max-mobile {
                max-width: calc(100% - 24px);
            }

            .content__title {
                color: #000000;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 60px;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 10px;

                @include smin-xl {
                    max-width: 330px;
                }
                
                @include max-tablet {
                    font-size: 28px;
                    line-height: 1.2;
                    text-align: center;
                }
            }

            .content__text {
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px; 
                text-transform: capitalize;
                margin-bottom: 30px;
                @include smin-xl {
                    max-width: 340px;
                }

                @include max-tablet {
                    line-height: 1.2;
                    text-align: center;
                    max-width: 100%;
                    margin-bottom: 20px;
                }
            }

            .content__action {
                @include max-tablet {
                    min-width: 200px;
                }

                @include smax-xs {
                    text-align: center;
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

/* Section Home Testimonial */
.section-home-testimonial {
    background: #FDE5E6;
    padding: 30px 15px;

    .testimonial {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        &__list {
            .slick-list {
                margin-left: auto;
                margin-right: auto;
                max-width: 681px;
            }

            .slick-arrow {
                background-color: transparent;
                width: 60px;
                height: 60px;

                &:hover,
                &:active,
                &:focus {
                    background-color: #000000;
                }
                
                &.slick-prev {
                    left: 75px;
                    
                    @include max-tablet {
                        left: 0;
                    }
                }

                &.slick-next {
                    right: 75px;
                    @include max-tablet {
                        right: 0;
                    }
                }
            }
        }

        &__avata {
            margin-bottom: 7px;
            display: flex;
            justify-content: center;

            img {
                max-width: 46px;
            }
        }

        &__text {
            color: #000000;
            text-align: center;
            font-family: 'Playfair Display', serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: 45px; 
            text-transform: capitalize;

            @include max-tablet {
                font-size: 20px;
                line-height: 1.2;
            }

            p {
                margin-bottom: 22px;
            }
        }

        &__author {
            > span {
                display: block;
                color: #000000;
                font-size: 10px;
                font-style: normal;
                line-height: 20px;
                text-transform: uppercase;
            }
        }

        &__name {
            font-weight: 700;
        }

        &__date {
            font-weight: 400;
        }
    }
}

/* Recently Posts */
.home-recently-posts {
    .recentlyPost__heading {

    }

    .recentlyPost__content {
        .slick-list {
            margin-left: -15px;
            margin-right: -15px;
        }

        .recentlyPost__list-slider {
            padding-left: 15px;
            padding-right: 15px;


            .recentlyPost__list {
                border-radius: 8px;
                background: #FFF;
                padding: 10px 10px 30px;

                .recentlyPost__item {
                    .image-with-overlay {
                        height: 270px;
                        display: block;
                        
                        img {
                            height: 100%;
                            border-radius: 8px;
                        }
                    }

                    .item-content {
                        padding: 30px;

                        @include max-tablet {
                            padding: 20px;
                        }

                        @include max-mobile {
                            padding: 20px 0;
                        }

                        .title {
                            margin-top: 2px;
                            margin-bottom: 16px;

                            a {
                                color: #000;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 30px;
                                text-transform: capitalize;
                            }
                        }

                        .summary {
                            color: #000;
                            font-family: DM Sans;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 152%; 
                            text-transform: capitalize;
                            margin-bottom: 30px;
                        }

                        .button {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}