.no-js .custom-animation {
    transform: translatey(0);
}

.custom-animation {
    transform: translatey(100px);
}

.js .custom-animation {
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transform: translatey(100px);
    opacity: 0;

    &[data-step-animate="1"] {
    }

    @for $i from 0 through 100 {
        &[data-step-animate="#{$i}"] {
            transition-delay: 0.1s + $i * 0.05;
            transition-duration: 0.5s + $i * 0.1;
        }
    }
}

.js .animated.custom-animation {
    transform: translatey(0);
    opacity: 1;
}

/* Hover Link Effect */
.hover-link {
    background-image: linear-gradient(to right, #ed1c24, #ed1c24 50%, #000000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-flex;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

    &--headerTop {
        background-image: linear-gradient(
            to right,
            stencilColor("header_top_text_colorHover"),
            stencilColor("header_top_text_colorHover") 50%,
            stencilColor("header_top_text_color") 50%
        );
    }

    &--footer {
        background-image: linear-gradient(
            to right,
            stencilColor("footer-text-colorHover"),
            stencilColor("footer-text-colorHover") 50%,
            stencilColor("footer-text-color") 50%
        );
    }

    &:before {
        content: "";
        background: #ed1c24;
        display: block;
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 0;
        height: 2px;
        transition: all 0.3s ease-in-out;
    }

    &--menu {
        &::before {
            bottom: 10px;
        }
    }

    &:hover {
        background-position: 0;

        &:before {
            width: 100%;
        }
    }
}

.halo-background {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    display: none;
    visibility: hidden;
    transition: $anchor-transition;
    background-color: rgba(59, 59, 59, 0.7);
}

.openSearchMobile {
    overflow: hidden;

    #halo-search-mobile {
        left: 0;
        z-index: 105;
    }

    .halo-background {
        z-index: 103;
        opacity: 1;
        display: block;
        visibility: visible;
    }
}

.has-activeNavPages,
.openAuthSidebar {
    .halo-background {
        z-index: 102;
        opacity: 1;
        display: block;
        visibility: visible;
    }

    @media (min-width: 1025px) {
        overflow: auto;

        .halo-background {
            z-index: 102;
            opacity: 0;
            visibility: hidden;
            display: none;
        }

        &.has-stickyNavPages {
            overflow: hidden;

            .halo-background {
                z-index: 102;
                opacity: 1;
                display: block;
                visibility: visible;
            }
        }
    }
}

/* Back To Top */
#back-to-top {
    bottom: 30%;
    right: 15px;
    z-index: 19;
    font-size: 0;
    display: none;
    cursor: pointer;
    position: fixed;
    overflow: hidden;
    text-align: center;
    border-radius: 0;
    line-height: 1;
    transition: all 0.3s ease;
    color: stencilColor("back-to-top-color");
    background-color: stencilColor("back-to-top-bg");
    border: 1px solid stencilColor("back-to-top-border");
    border-radius: 50%;
    width: 60px;
    height: 60px;

    @include max-tablet {
        width: 48px;
        height: 48px;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .icon {
        fill: stencilColor("back-to-top-color");
        width: 20px;
        height: 20px;
        display: block;
    }
    &.is-visible {
        display: block;
    }
    &:hover {
        color: stencilColor("back-to-top-colorHover");
        background-color: stencilColor("back-to-top-bgHover");
        border: 1px solid stencilColor("back-to-top-borderHover");
        .icon {
            fill: stencilColor("back-to-top-colorHover");
        }
    }
    @include breakpoint("large") {
        right: 75px;
        bottom: 140px;
        .icon {
            width: 20px;
            height: 20px;
        }
    }

    &:hover {
        .icon {
            animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
        }
    }
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Slick */
.slick-arrow {
    position: absolute;
    top: 50%;
    display: block;
    height: 60px;
    width: 60px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: $color-white;
    color: transparent;
    transform: translate(0, -50%);
    border: 1px solid #949494;
    z-index: 2;
    padding: 0;
    margin: 0;

    @include max-tablet {
        width: 40px;
        height: 40px;
    }

    &.slick-prev {
        left: 15px;

        @media (min-width: 1025px) {
            left: -15px;
        }
    }

    &.slick-next {
        right: 15px;

        @media (min-width: 1025px) {
            right: 0;
        }
    }

    &.slick-disabled {
        opacity: 0.3;
        pointer-events: none;
    }
}


// Quick Shop
// -----------------------------------------------------------------------------

.quickShop {
    .productView-options .form-field>.form-label {
        font-weight: $fontWeight-medium;
    }
}

.halo-quickShop {
    display: block;
    font-size: 0;
    letter-spacing: 0;
    padding: 0 2.25rem;

    .halo-productView-left,
    .halo-productView-right {
        width: 100%;
        display: block;
        margin-bottom: 0;
    }

    .halo-productView-left {
        display: none;
    }

    .productView-image-wrapper {
        img[role="presentation"] {
            display: none !important;
        }
    }

    .productView-details {
        width: 100%;
    }

    .productView-product {
        margin-top: 5px;
    }

    .productView-brand {
        margin-bottom: 0;
    }

    .productView-title {
        font-size: $fontSize-root;
        line-height: 1.625;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        margin-bottom: 0;
    }

    .productView-topInfo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 5px 0 0 0;
    }

    .productView-rating {
        width: auto;
    }

    .productView-ratingCount {
        font-size: $fontSize-root - 2px;
        font-weight: $fontWeight-normal;
        color: $color-textSecondary;
        line-height: 1;
        margin: 0 0 0 7px;
    }

    .productView-price {
        margin-top: 8px;
        margin-bottom: 0;

        .price-section {
            font-size: $fontSize-root + 2px;
            font-weight: $fontWeight-normal;
        }
    }

    @media (min-width: 551px) {

        .halo-productView-left,
        .halo-productView-right {
            display: inline-block;
            vertical-align: top;
        }

        .halo-productView-left {
            width: 100px;
        }

        .halo-productView-right {
            width: calc(100% - 100px);
            padding: 0 0 0 30px;
        }

        .productView-image-wrapper {
            display: block;
        }
    }
}

.halo-quickShop-action {
    #add-to-cart-wrapper {
        .form-field--increments {
            margin-bottom: 20px;
            margin-top: 12px;
            > .form-label {
                display: none;
            }

            .form-increment {
                display: flex;
                justify-content: space-between;
                padding: 2px;
                border-radius: 4px;
                
                .form-input--incrementTotal {
                    background-color: transparent;
                }
            }
        }

        #form-action-addToCart {
            width: 100%;
            height: 44px;
            padding: 12px 20px;

            &:hover {
                background-color: #000000;
                color: #ffffff;
            }
        }
    }
}

.page-sidebar {
    &.is-open {
        z-index: 105;
    }
}
.page-sidebar {
    .page-sidebar-close {
        .close {
            display: inline-block;
            width: 32px;
            height: 32px;
        }
        .icon--close {
            display: inline-block;
            width: 32px;
            height: 32px;
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}