.no-js .custom-animation {
    transform: translatey(0);
}

.custom-animation {
    transform: translatey(100px);
}

.js .custom-animation {
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transform: translatey(100px);
    opacity: 0;

    &[data-step-animate="1"] {}

    @for $i from 0 through 100 {
        &[data-step-animate="#{$i}"] {
            transition-delay: .1s + $i*0.05;
            transition-duration: .5s + $i*0.1;
        }
    }
}

.js .animated.custom-animation {
    transform: translatey(0);
    opacity: 1;
}

/* Hover Link Effect */
.hover-link {
    background-image: linear-gradient(
        to right,
        #ed1c24,
        #ed1c24 50%,
        #000000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

    &--headerTop {
        background-image: linear-gradient(
            to right,
            stencilColor("header_top_text_colorHover"),
            stencilColor("header_top_text_colorHover") 50%,
            stencilColor("header_top_text_color") 50%
        );
    }

    &:before{
        content: '';
        background: #ed1c24;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        background-position: 0;

        &:before {
            width: 100%;
        }
    }
}