/* Contact Us Page */
.page-type-page_contact_form {
    .body {
        padding-top: 0 !important;
        padding-bottom: 80px !important;

        @include max-tablet {
            padding-bottom: 50px !important;
        }

        @include max-mobile {
            padding-bottom: 30px !important;
        }
    }
    .themevale_breadcrumb {
        padding-top: 25px;
        padding-bottom: 35px;

        @include max-tablet {
            padding-bottom: 20px;
            padding-top: 20px;
        }

        .page-heading {
            margin-bottom: 0 !important;
        }
    }
    .themevale_contact-us {
        #contact-us-page {
            > p:first-child {
                margin-bottom: 0;
            }

            .form-label {
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 8px;
                color: #232323;
            }
        }

        #button-contactForm {
            width: 205px;
        }
        .themevale_location {
            margin-top: 50px;
        }
        .form-actions {
            text-align: left;
        }
        @media (min-width: 768px) {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            .themevale_form {
                width: 65%;
            }
            .themevale_location {
                width: 35%;
                margin-top: 0px;
                padding-left: 50px;
            }
    
        }
        @media (min-width: 1281px) {
            padding-top: 30px;
            position: relative;
            &:before {
                content: "";
                top: 0;
                left: 0;
                width: 40px;
                height: 2px;
                display: block;
                position: absolute;
                background-color: stencilColor('color-textHeading');
            }
            .themevale_form {
                width: 790px;
            }
            .themevale_location {
                padding-left: 11%;
                width: calc(100% - 790px);

                .title {
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: #232323;
                }

                .content + .content {
                    border-top: 1px solid #eaeaea;
                    margin-top: 25px;
                    padding-top: 25px;
                }
            }
            #contact_question {
                height: 210px;
            }
        }
    }
}

/* Webpages */
.page-type-page {
    h1 {
        font-size: 32px;
    }
    
    .body {
        padding-top: 0 !important;

        a {
            text-decoration: none;
        }

        .themevale_breadcrumb {
            padding-top: 25px;
            padding-bottom: 20px;

            @include max-tablet {
                padding-bottom: 20px;
                padding-top: 20px;
            }

            .breadcrumbs {
                margin-bottom: 0;
            }
        }
        .page-heading {
            @include max-tablet {
                margin-bottom: 0 !important;
            }
        }
    }
}

/* Site Maps Page */
.page-type-sitemap {
    .body {
        padding-top: 50px !important;

        @include max-tablet {
            padding-top: 30px !important;
        }
    }
    .contentSitemap {
        margin: 0;
        display: block;
        ul {
            list-style: none;
            margin-left: 0;
        }
        a {
            text-decoration: none;
        }
        > li {
            border-radius: 0px;
            overflow: hidden;
            margin-bottom: 30px;
            padding: 0 20px 0 0;
            > ul{
                padding: 0px;
                padding-top: 0px;
            }          
            > ul > li{
                > a {
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: stencilColor('color-textHeading');
                }
                > ul {
                    padding: 0px 30px;
                    padding-top: 0px;
                    > li{                    
                        > a {
                            font-size: 12px;
                            font-weight: 600;
                        }
                        > ul {
                            padding: 0px 30px;
                            padding-top: 0px;
                            > li{                    
                                > a {
                                    font-size: 12px;
                                    font-weight: 400;
                                    color: stencilColor('color-textBase');
                                }
                            }
                        }
                    }
                }
            }
            &:last-child {
                li a {
                    font-size: 12px;
                    font-weight: 400;
                    letter-spacing: 0;
                    color: stencilColor('color-textBase');
                }
            }
        }
        h3 {
            margin-top: 0;
            font-size: 15px;
            font-weight: 600;
            line-height: 20px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            text-transform: uppercase;
            font-family: $fontFamily-headings;
            color: stencilColor('color-textHeading');
            border-bottom: 1px solid #ececec;
        }
        a {
            padding: 6px 0;
            font-size: 12px;
            font-weight: 400;
            display: inline-block;
            vertical-align: top;
            text-transform: capitalize;
        }
    }
}