<div class="accordion-block">
    {{> components/faceted-search/faceted-search-navigation}}

    <div id="facetedSearch-content--{{dashcase facet}}" class="accordion-content{{#unless start_collapsed}} is-open{{/unless}}">
        <form id="facet-range-form" class="form" method="get" data-faceted-search-range novalidate>
            <input type="hidden" name="search_query" value="{{search_query}}">
            {{#if this.sort}}
                <input type="hidden" name="sort" value="{{this.sort}}">
            {{/if}}
            <fieldset class="form-fieldset">
                <!-- Start Custom Range Price -->
                <div class="custom-filter-rangePrice">
                    <div class="range-slide">
                        <div class="slide">
                        <div class="line" id="line" style="left: 0%; right: 0%;"></div>
                        <span class="thumb" id="thumbMin" style="left: 0%;"></span>
                        <span class="thumb" id="thumbMax" style="left: 100%;"></span>
                        </div>
                        <input id="rangeMin" type="range" max="100" min="10" step="5" value="0">
                        <input id="rangeMax" type="range" max="100" min="10" step="5" value="100">
                    </div>
                    <div class="display">
                        <span id="min">10</span>
                        <span id="max">100</span>
                    </div>
                </div>
                <!-- End custom range price -->
                <div class="form-minMaxRow">
                    <div class="form-field">
                        <input
                            name="min_price"
                            placeholder="{{lang 'search.faceted.range.min-placeholder'}}"
                            min="0"
                            class="form-input form-input--small"
                            required
                            type="number"
                            value="{{min_price}}"
                        />
                    </div>

                    <div class="form-field">
                        <input
                            name="max_price"
                            placeholder="{{lang 'search.faceted.range.max-placeholder'}}"
                            min="0"
                            class="form-input form-input--small"
                            required
                            type="number"
                            value="{{max_price}}"
                        />
                    </div>

                    <div class="form-field" style="display: none;">
                        <button class="button button--small" type="submit">
                            {{lang 'search.faceted.range.update'}}
                        </button>
                    </div>
                </div>

                <div class="form-inlineMessage"></div>
            </fieldset>
        </form>
    </div>
</div>
