<section class="custom-section section-home-solution">
    <div class="container">
        <div class="homeSolution">
            <h3 class="homeSolution__title custom-heading text-center">{{theme_settings.solution_banner_heading}}</h3>
            <div class="homeSolution__block grid gap-30">
                <div class="homeSolution__list row">
                    <div class="homeSolution__item hover-image col l-2 m-2 s-1 custom-animation" data-step-animate="1">
                        <a href="{{theme_settings.solution_banner_link_1}}">
                            <img class="lazyload" src="/product_images/uploaded_images/{{theme_settings.solution_banner_image_1}}" data-src= "" alt="{{theme_settings.solution_banner_text_1}}" class="homeSolution__image">
                        </a>
                        <a href="{{theme_settings.solution_banner_link_1}}" class="homeSolution__action button button--secondary no-border">
                            {{theme_settings.solution_banner_text_1}}
                        </a>
                    </div>
                    <div class="homeSolution__item hover-image col l-2 m-2 s-1 custom-animation" data-step-animate="2">
                        <a href="{{theme_settings.solution_banner_link_2}}"><img class="lazyload" src="/product_images/uploaded_images/{{theme_settings.solution_banner_image_2}}" data-src= "" alt="{{theme_settings.solution_banner_text_2}}" class="homeSolution__image"></a>
                        <a href="{{theme_settings.solution_banner_link_2}}" class="homeSolution__action button button--secondary no-border">
                            {{theme_settings.solution_banner_text_2}}
                        </a>
                    </div>
                    <div class="homeSolution__item hover-image col l-2 m-2 s-1 custom-animation" data-step-animate="3">
                        <a href="{{theme_settings.solution_banner_link_3}}"><img class="lazyload" src="/product_images/uploaded_images/{{theme_settings.solution_banner_image_3}}" data-src= "" alt="{{theme_settings.solution_banner_text_3}}" class="homeSolution__image"></a>
                        <a href="{{theme_settings.solution_banner_link_3}}" class="homeSolution__action button button--secondary no-border">
                            {{theme_settings.solution_banner_text_3}}
                        </a>
                    </div>
                    <div class="homeSolution__item hover-image col l-2 m-2 s-1 custom-animation" data-step-animate="4">
                        <a href="{{theme_settings.solution_banner_link_4}}"><img class="lazyload" src="/product_images/uploaded_images/{{theme_settings.solution_banner_image_4}}" data-src= "" alt="{{theme_settings.solution_banner_text_4}}" class="homeSolution__image"></a>
                        <a href="{{theme_settings.solution_banner_link_4}}" class="homeSolution__action button button--secondary no-border">
                            {{theme_settings.solution_banner_text_4}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>