<section class="section-custom-brands">
    <div class="container">
        <div id="themevale_brand1" class="brandSlider" data-slick='{
            "arrows": true,
            "dots": false,
            "infinite": true,
            "mobileFirst": true,
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "responsive": [
                {
                    "breakpoint": 1025,
                    "settings": {
                        "slidesToShow": 5,
                        "slidesToScroll": 5
                    }
                },
                {
                    "breakpoint": 768,
                    "settings": {
                        "slidesToShow": 4,
                        "arrows": false,
                        "dots": true,
                        "slidesToScroll": 4
                    }
                },
                {
                    "breakpoint": 551,
                    "settings": {
                        "slidesToShow": 3,
                        "slidesToScroll": 3,
                        "arrows": false,
                        "dots": true,
                        "vertical": false,
                        "verticalSwiping": false
                    }
                },
                {
                    "breakpoint": 430,
                    "settings": {
                        "slidesToShow": 2,
                        "slidesToScroll": 2,
                        "vertical": false,
                        "arrows": false,
                        "dots": true,
                        "verticalSwiping": false
                    }
                }
            ]
        }'>
            <a href="https://www.ipsecuritydepot.com/axis/" class="custom-animation" data-step-animate="1"> <img class="lazyload" src="" alt="Axis Logo" data-src="/product_images/uploaded_images/brand-image-1.jpg" /> </a>
            <a href="https://www.ipsecuritydepot.com/2n/" class="custom-animation" data-step-animate="2"> <img class="lazyload" src="" alt="2N Logo" data-src="/product_images/uploaded_images/brand-image-2.jpg" /> </a> 
            <a href="https://www.ipsecuritydepot.com/panasonic/" class="custom-animation" data-step-animate="3"> <img class="lazyload" src="" alt="Panasonic Logo" data-src="/product_images/uploaded_images/brand-image-3.jpg" /> </a> 
            <a href="https://www.ipsecuritydepot.com/hanwha/" class="custom-animation" data-step-animate="4"> <img class="lazyload" src="" alt=" Logo" data-src="/product_images/uploaded_images/brand-image-4.jpg" /> </a> 
            <a href="https://www.ipsecuritydepot.com/hikvision/" class="custom-animation" data-step-animate="5"> <img class="lazyload" src="" alt=" Logo" data-src="/product_images/uploaded_images/brand-image-5.jpg" /> </a>
        </div>
    </div>
</section>