<section class="section-banner-text">
    <div class="container container--full">
        <div class="bannerText">
            <div class="bannerText__image">
                <img class="lazyload" src="" data-src="https://placehold.jp/1440x520.png" alt="Banner Text" title="Banner Text">
            </div>

            <div class="bannerText__content">
                <h3 class="content__title">Optimize Your Security With Our Products</h3>
                <p class="content__text">We have the equipment and experts to help you make an informed decision, along with the experts to support your integration.</p>
                <a href="#" class="content__action button button--tertiary">Shop Now</a>
            </div>
        </div>
    </div>
</section>