<section class="section-home-solution">
    <div class="container">
        <div class="homeSolution">
            <h3 class="homeSolution__title text-center uppercase">IP Surveillance Solutions</h3>
            <div class="homeSolution__block grid gap-30">
                <div class="homeSolution__list row">
                    <div class="homeSolution__item col l-2 m-2 s-1">
                        <img class="lazyload" src="https://placehold.jp/630x360.png" data-src= "" alt="Solution Banner 1" class="homeSolution__image">
                        <a href="#" class="homeSolution__action button button--secondary no-border">
                            Outdoor IP Cameras
                        </a>
                    </div>
                    <div class="homeSolution__item col l-2 m-2 s-1">
                        <img class="lazyload" src="https://placehold.jp/630x360.png" data-src= "" alt="Solution Banner 1" class="homeSolution__image">
                        <a href="#" class="homeSolution__action button button--secondary no-border">
                            Indoor IP Cameras
                        </a>
                    </div>
                    <div class="homeSolution__item col l-2 m-2 s-1">
                        <img class="lazyload" src="https://placehold.jp/630x360.png" data-src= "" alt="Solution Banner 1" class="homeSolution__image">
                        <a href="#" class="homeSolution__action button button--secondary no-border">
                            Network Video Recorders
                        </a>
                    </div>
                    <div class="homeSolution__item col l-2 m-2 s-1">
                        <img class="lazyload" src="https://placehold.jp/630x360.png" data-src= "" alt="Solution Banner 1" class="homeSolution__image">
                        <a href="#" class="homeSolution__action button button--secondary no-border">
                            IP Camera Software & Licenses
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>