<section class="section-custom-brands">
    <div class="container">
        <div id="themevale_brand1" class="brandSlider" data-slick='{
            "arrows": false,
            "dots": true,
            "infinite": true,
            "mobileFirst": true,
            "slidesToShow": 2,
            "slidesToScroll": 1,
            "responsive": [
                {
                    "breakpoint": 1025,
                    "settings": {
                        "slidesToShow": 5,
                        "slidesToScroll": 5
                    }
                },
                {
                    "breakpoint": 768,
                    "settings": {
                        "slidesToShow": 4,
                        "arrows": false,
                        "dots": true,
                        "slidesToScroll": 4
                    }
                },
                {
                    "breakpoint": 551,
                    "settings": {
                        "slidesToShow": 3,
                        "slidesToScroll": 3,
                        "arrows": false,
                        "dots": true,
                        "vertical": false,
                        "verticalSwiping": false
                    }
                }
            ]
        }'>
            <a href="/{{theme_settings.brand_link_1}}" class="custom-animation hover-image" data-step-animate="1">
                <img class="lazyload" src="" alt="{{theme_settings.brand_image_1}}" data-src="/product_images/uploaded_images/{{theme_settings.brand_image_1}}" />
             </a>
            <a href="/{{theme_settings.brand_link_2}}" class="custom-animation hover-image" data-step-animate="2">
                <img class="lazyload" src="" alt="{{theme_settings.brand_image_2}}" data-src="/product_images/uploaded_images/{{theme_settings.brand_image_2}}" /> 
            </a> 
            <a href="/{{theme_settings.brand_link_3}}" class="custom-animation hover-image" data-step-animate="3">
                <img class="lazyload" src="" alt="{{theme_settings.brand_image_3}}" data-src="/product_images/uploaded_images/{{theme_settings.brand_image_3}}" /> 
            </a> 
            <a href="/{{theme_settings.brand_link_4}}" class="custom-animation hover-image" data-step-animate="4">
                <img class="lazyload" src="" alt=" {{theme_settings.brand_image_4}}" data-src="/product_images/uploaded_images/{{theme_settings.brand_image_4}}" /> 
            </a> 
            <a href="/{{theme_settings.brand_link_5}}" class="custom-animation hover-image" data-step-animate="5">
                <img class="lazyload" src="" alt=" {{theme_settings.brand_image_5}}" data-src="/product_images/uploaded_images/{{theme_settings.brand_image_5}}" />
            </a>
        </div>
    </div>
</section>