<section class="custom-section section-banner-text section-banner-text--{{bannerPosition}} {{rightContent}} custom-animation" data-step-animate="1">
    <div class="container container--full">
        <div class="bannerText">
            <div class="bannerText__image">
                <img class="lazyload" src="" data-src="/product_images/uploaded_images/{{image}}" alt="{{image}}" title="{{image}}">
            </div>

            <div class="bannerText__content{{#if rightContent}} right{{/if}}">
                <h3 class="content__title">{{heading}}</h3>
                <p class="content__text"><b>{{boldText}}</b> {{desc}}</p>
                <a href="{{link}}" class="content__action button button--tertiary">{{action}}</a>
            </div>
        </div>
    </div>
</section>