{{#if theme_settings.show_testimonial_section}}
<section class="custom-section section-home-testimonial custom-animation" data-step-animate="1">
    <div class="cotainer">
        <div class="testimonial">
            <div class="testimonial__list section-slick" data-slick-show-desktop="1" data-slick-show-tablet="1" data-slick-show-mobile="1" data-show-arrow-desktop="true"> 
                <div class="testimonial__item">
                    <div class="testimonial__content">
                        <div class="testimonial__avata text-center">
                            <img src="" class="lazyload" data-src="/product_images/uploaded_images/{{theme_settings.testimonial_avata_1}}" alt="{{theme_settings.home_testimonial_name_1}}">
                        </div>
                        <div class="testimonial__text text-center">
                            <p>{{theme_settings.home_testimonial_text_1-1}} {{theme_settings.home_testimonial_text_1-2}}</p>
                        </div>
                        <div class="testimonial__author text-center">
                            <span class="testimonial__name">{{theme_settings.home_testimonial_name_1}}</span>
                            <span class="testimonial__date">{{theme_settings.home_testimonial_date_1}}</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial__item">
                    <div class="testimonial__content">
                        <div class="testimonial__avata text-center">
                            <img src="" class="lazyload" data-src="/product_images/uploaded_images/{{theme_settings.testimonial_avata_2}}" alt="{{theme_settings.home_testimonial_name_2}}">
                        </div>
                        <div class="testimonial__text text-center">
                            <p>{{theme_settings.home_testimonial_text_2-1}} {{theme_settings.home_testimonial_text_2-2}}</p>
                        </div>
                        <div class="testimonial__author text-center">
                            <span class="testimonial__name">{{theme_settings.home_testimonial_name_2}}</span>
                            <span class="testimonial__date">{{theme_settings.home_testimonial_date_2}}</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial__item">
                    <div class="testimonial__content">
                        <div class="testimonial__avata text-center">
                            <img src="" class="lazyload" data-src="/product_images/uploaded_images/{{theme_settings.testimonial_avata_3}}" alt="{{theme_settings.home_testimonial_name_3}}">
                        </div>
                        <div class="testimonial__text text-center">
                            <p>{{theme_settings.home_testimonial_text_3-1}} {{theme_settings.home_testimonial_text_3-2}}</p>
                        </div>
                        <div class="testimonial__author text-center">
                            <span class="testimonial__name">{{theme_settings.home_testimonial_name_3}}</span>
                            <span class="testimonial__date">{{theme_settings.home_testimonial_date_3}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/if}}