{{#if reviews.total}}
<section class="toggle productReviews" id="product-reviews" data-product-reviews>
    <h4 class="toggle-title">Customer reviews</h4>
    <div class="productReviews__total">
        <p>
            <span class="icon icon--rating-start">
                <svg><use xlink:href="#icon-rating-start"></use></svg>
            </span>
            {{rating}}, ({{reviews.total}} Reviews)
        </p>
    </div>
    <div class="toggle-content is-open" id="productReviews-content" aria-hidden="false">
        <ul class="productReviews-list" id="productReviews-list">
            {{#each reviews.list}}
            <li class="productReview">
                <p class="productReview__name">{{name}}</p>
                <p class="productReview__bottom">
                    <span class="productReview__date">{{date}}</span>
                    <span class="productReview-rating rating--small">
                        {{> components/products/ratings rating=rating}}
                        <span class="productReview-ratingNumber">{{ rating }}</span>
                    </span>
                </p>
                <p class="productReview-body">{{{ sanitize text }}}</p>
                <!-- <article>
                    <header>
                        <span class="productReview-rating rating--small">
                            {{> components/products/ratings rating=rating}}
                            <span class="productReview-ratingNumber">{{ rating }}</span>
                        </span>
                        <h5 class="productReview-title">{{{ sanitize title }}}</h5>
                        {{#if name}}
                            <p class="productReview-author">
                                {{{lang 'products.reviews.post_on_by' date=date name=(sanitize name) }}}
                            </p>
                        {{else}}
                            <p class="productReview-author">
                                {{lang 'products.reviews.post_on_by' date=date name=(lang 'products.reviews.anonymous_poster')}}
                            </p>
                        {{/if}}
                    </header>
                    <p class="productReview-body">{{{ sanitize text }}}</p>
                </article> -->
            </li>
            {{/each}}
        </ul>
        {{> components/common/paginator pagination.reviews reload=true}}
    </div>
</section>
{{/if}}
